@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(29,198,187,1) 100%, rgba(2,0,36,1) 100%);
}
